@media screen and (max-width: 360px) {
    .toRegeist2 input:focus{
       transform: none;

    }
    .toLogin input:focus{

        transform: none;
    }

}

@media screen and (max-width:500px) {
    .toRegeist2 input:focus{
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);

    }
    .toLogin input:focus{

        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
    }

}

.toLogin input ,.toRegeist2 input{
    background: transparent;
    border:0px;
    outline: none;
    border-bottom: 1px solid #fff;
    color: #fff;

}
.toLogin2 {
    display: none;
}
.toRegeist2{
    display: none;

}
.toRegeist2 input:focus{
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);

}
.toLogin input:focus{

    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);

}
.phone{
    font-weight:bold;

}
.block{
    font-family: "STXihei", "华文细黑", helvetica, 'Microsoft Yahei', '微软雅黑', sans-serif;
    font-weight: bold;
}

